# Larger bash history
export HISTSIZE=4096
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"
# Not a vi(m) person, let's use nano
export EDITOR="nano"
