[user]
	name = Matthias Mees
	email = mm@yellowled.de
[core]
	excludesfile = /Users/matthias/.gitignore_global
[color]
    ui = true
[pager]
	branch = false
[credential]
    helper = osxkeychain
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
    autoSetupRemote = true
    default = simple
[rebase]
    autosquash = true
